@import "~./_common.scss"; //引入sass 依赖 webapck ~
/*
 pc.css
 * */
body,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ul,
li,
dl,
dt,
dd,
p,
span,
strong,
input,
select,
textarea {
    margin: 0;
    padding: 0;
}
body {
    font-family: "microsoft yahei",arial;
    font-size: 16px;
}
* {
    outline: 0 !important;
}
input[type=radio],
input[type=checkbox],
a {
    cursor: pointer;
}
a {
    text-decoration: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
}
a img {
    border: 0 none;
}
.box img {
    vertical-align: bottom;
    width: 100%;
}
ul {
    list-style: none;
}
a,
button,
input[type=checkbox],
input[type=radio] {
    cursor: pointer;
}
html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
audio,
canvas,
progress,
video,
.row {
    display: inline-block;
    vertical-align: baseline;
}
*,
*:after,
*:before {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.row {
    clear: both;
    width: 100%;
}
*:after {
    content: '';
    clear: both;
    height: 0;
}
/*font*/
.small {
    font-size: 12px;
}
.normal {
    font-weight: normal;
}
.bold {
    font-weight: 700;
}
.font-white {
    color: #fff;
}
.font-blue {
    color: #39f;
}
.font-red {
    color: #f66;
}
.font-orange {
    color: #ff9600;
}
/*container*/
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.img-box img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
//from
.el-form-item select,
.el-form-item input{
    //el
    min-width:193px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $ibg;
    border-radius: $ibr;
    border: 1px solid $iborder;
    box-sizing: border-box;
    color: $ic;
    display: inline-block;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: none;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);

   
}
.btn-lg{
    width: 100%;
}
/*page*/
body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#app,
.page {
    position: relative;
    width: 100%;
    height: 100%;
}
//nav
.nav-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 59px;
    background-color: $nbg;
    padding: 12px;
    color: $nc;
    .el-dropdown {
        //下拉
        color: inherit !important;
    }
    z-index: 2;
    .btn-side{
        //side's btn 
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        margin-top: 5px;
        border-radius: 4px;
        border:1px $bcolor solid;
        
        span{
           display: block;
           width: 80%;
           height: 3px;
           margin: auto;
           margin-top: 5px;
           border-radius: 20%;
            background: $nc;
    transition:all .3s  linear;
            
        
        }
         &:active{
             opacity: 0.6
         }
         &.active{
            span:nth-of-type(1){
                transform:translateY(8px) rotate(45deg)
            }
            span:nth-of-type(2){
                opacity: 0
            }
             span:nth-of-type(3){
                transform:translateY(-8px) rotate(-45deg)
            }
        }
    }
}
.nav-logo {
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    img {
        @include pos-mid();
    }
}
.user {
    float: right;
    .img-box {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 5px;
    }
    .user-set {
        display: inline-block;
        vertical-align: middle;
    }
}
.nav-title {
    margin-top: 10px;
    font-size: 20px;
}
//side
.side-left {
    position: absolute;
    top: 59px;
    left: 0;
    width: 200px;
    height: 100%;
    overflow: auto;
    background: #eef1f6;
    z-index: 2;
}
.main-right {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 69px;
    padding-left: 210px;
    padding-right: 10px;
    padding-bottom: 10px;
    transition: all .3s linear;
    &.active{
          padding-left: 10px;
    }
    .container {
        padding: 10px;;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #f6f6f6;
    }
}
//页面加载
.slide-leave-active,
.slide-enter-active,
.show-enter-active,
.show-leave-active,
.scale-enter-active,
.load-enter-active,
.load-leave-active {
    transition: all .5s;
}
//滑动
.slide-enter,
.slide-leave-to{
    transform:translate3d(-100%,0,0)
}
.slide-enter-to{
    transform:translate3d(0,0,0)
}
//只缩大
.scale-enter{
    transform: scale(0);
}
.scale-enter-to{
    transform: scale(1);
}
//黑色 透明
.load-leave-to,
.load-enter {
    position: absolute;
    opacity: 0;
    background: #000;
}
.load-leave,
.load-enter-to {
    opacity: 1;
}
//显示
.show-leave-to,
.show-enter{
    opacity: 0;
}

.show-enter-to{
    opacity: 1;
}

@import "~./style-media.scss"; //引入sass 依赖 webapck ~